body{
	background-color: #000032;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	height: 80px;
	width: 320px;
	overflow: hidden;
}
.cover{
	background-image: linear-gradient(
		45deg,
		#ed0675,
		#fe8815
		);
	height: 100%;
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins',sans-serif;
	font-size: 30px;
	letter-spacing: 1.5px;
	transition: 0.5s;
}
.content{
	background-color: #0c2750;
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	transition: 0.5s;
}
.content>input[type="email"]{
	height: 30px;
	width: 220px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid white;
	position: absolute;
	padding-left: 10px;
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	color: white;
	outline: none;left: 10px;
}
.content>button{
	height: 40px;
	width: 40px;
	position: absolute;border: none;
	background-color: #f33155;
	position: absolute;
	right: 10px;
	font-size: 18px;
	color: white;
}
::placeholder{
	color: #aaaaaa;
}
.container:hover .cover{
	transform: translateY(-100%);
}
.container:hover .content{
	transform: translateY(-100%);
}